mixin b_bg-header()
  section.section.section-top.bg-header.flex.flex-items-center
    .section-top-text
      h2.cl-brand-text.fs-48.fw-normal.cl-brand.bold
        | Шкрогаль
      p.cl-brand-text.fs-22.lh-160.sans
        | Архитектурное бюро с историей