mixin b_main-project()
  section.section.section-main-project.box
    .section-container
      .diiiiiiiv
       span DLKFEKFpewp
      .col-sm-6
        article.article.box.ta-center
          h2.section-title.fs-42.fw-normal.ta-center.cl-brand
          | Дома на Воздвиженке
          .article-about-us-text.fs-18.sans
          | Описание проекта. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
          p.article-about-us-text.lh-160.fs-18.sans
          | С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
          .button-more
            a.button.button-more.fs-18.bold(href='/test.html')
            | Страница проекта