/*
  ============================================================================================================== Aside Style
*/
.aside-right {
  width: $headerHeight;
}
.aside-left {
  width: $headerHeight;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  &__inner {
    height: 100%;
    position: relative;
  }
  &__title {
    transform: translate3d(0, 0, 0) rotate(-90deg);
    transform-origin: 0 0;
    height: $headerHeight;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    width: calc(100vh - #{$headerHeight-2});
    padding: 0 1rem 0 0;
    line-height: $headerHeight;
    text-align: right;
  }
}