* {
  box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, ins, q, s, strong, sub, sup, tt, ol, ul, li, form, label, legend, table, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }
 
ol, ul {
  list-style: none; }
li {
  display: inline-block;
}
blockquote, q {
  quotes: none; }
 
blockquote, q {
  &:before, &:after {
    content: '';
    content: none; } }
 
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  @include brand-font;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a, span, div, li {
  &::selection {
    background: $brand-color;
    color: $white;
  }
  &::-moz-selection {
    background: $brand-color;
    color: $white;
  }
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.25;
}
h2 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}
h3 {
  @include brand-font;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
}
h4 {
  @include brand-font;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
}
h5 {
    font-size: 1.2rem;
    line-height: 1.25;
}
p {
  margin-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
  transition: .25s ease-in;
}
strong {
  font-weight: bold;
  vertical-align: baseline;
}
em {
  font-style: italic;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.scroll-to-top {
  background-color: rgba(255,255,255,.25);
  border: 1px solid #28262b;
  border-radius: 3px;
  color: transparent;
  cursor: pointer;
  display: none;
  height: 36px;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 36px;
  z-index: 99;
  &:hover {
    background-color: rgba(255,255,255,.75);
    border-color: $brand-color;
    color: $brand-color;
    outline: none;
    text-decoration: none;
  }
  &:before {
    background-position: -130px -217px;
  }
}

.overlay {
  background: rgba(0,0,0,.75);
  opacity: 1;
  transition: .5s ease;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &.off {
    opacity: 0;
    top: 100%;
  }
}

@keyframes logo-blink {
  0% {
    opacity: 0
  }
  20% {
    opacity: 0
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0
  }
}