mixin b_aside-left(pageTitle)
  +b.ASIDE.aside-left.bg-white
    +e.inner
      +b_logo()
      +e.title.fs-48.fw-100= pageTitle
      +b.logo_bottom.flex
        +e.A.link.flex.flex-justify-center.flex-items-center(href='/')
          +e.IMG.image(src='./img/logo.svg', alt='logo')