mixin b_aside-left(pageTitle)
  aside.aside-left.bg-white
    .aside-left__inner
      +b_logo()
      .aside-title.fs-48.fw-300= pageTitle
      +b.logo_bottom.flex
        +e.A.link.flex.flex-justify-center.flex-items-center(href='/')
          +e.IMG.image(src='./img/logo.svg', alt='logo')