mixin b_bg-header()
  section.section.bg-header.section-top.flex
    .container.flex.flex-items-center.flex-justify-flex-end
      .section-top-text
        h2.cl-brand-text.fs-136.cl-white.fw-900
          | Шкрогаль
        p.cl-brand-text.fs-36.fw-300.cl-white
          | Архитектурное бюро с историей