mixin b_blog-post()
  .blog-post.box.container-full
    .flex
      .flex-row-big-post.flex.box.flex-width.flex-items-stretch
        .flex-item
          article.blog-img-block.blog-img-big
        .flex-item
          article.article-blog-post.box
            h2.fw-300.fs-36
              | Квадратура супрематизма: арт квартира
            p.fw-300
              | Заглянуть в жилище архитектора так же интересно, как попасть на обед к шеф-повару или увидеть, как шьет себе одежду известный кутюрье. Большинству сфер деятельности современного человека присущ некий дуализм, и наиболее ярко он проявляется, когда речь заходит о выборе стиля и способа обустройства жилья.
            .button-block
              a.button.button-post.fs-16.fw-700(href='/') Подробнее

  .blog-posts.box.container-full
      .flex
        .flex-row-3.flex.box.flex-width.flex-items-stretch.flex-space-between
          .flex-item
            article.article-blog-post-small.box
              +b.img-blog
                +e.IMG.image(src='./img/blog_3.jpg')
              h2.fw-300.fs-24
                | Ход королевой: фьюжн-апартаменты от Studio Job
              p.fw-300
                | Заглянуть в жилище архитектора так же интересно, как попасть на обед к шеф-повару или увидеть, как шьет себе одежду известный кутюрье.
              .button-block
                a.button.button-post.fs-16.fw-700(href='/') Подробнее
          .flex-item
            article.article-blog-post-small.box
              +b.img-blog
                +e.IMG.image(src='./img/blog_4.jpg')
              h2.fw-300.fs-24
                | Ход королевой: фьюжн-апартаменты от Studio Job
              p.fw-300
                | Заглянуть в жилище архитектора так же интересно, как попасть на обед к шеф-повару или увидеть, как шьет себе одежду известный кутюрье.
              .button-block
                a.button.button-post.fs-16.fw-700(href='/') Подробнее
          .flex-item
            article.article-blog-post-small.box
             +b.img-blog
               +e.IMG.image(src='./img/blog_5.jpg')
             h2.fw-300.fs-24
               | Ход королевой: фьюжн-апартаменты от Studio Job
             p.fw-300
               | Заглянуть в жилище архитектора так же интересно, как попасть на обед к шеф-повару или увидеть, как шьет себе одежду известный кутюрье.
             .button-block
               a.button.button-post.fs-16.fw-700(href='/') Подробнее