mixin b_blog-menu()
  .blog-menu.container-full
    +b.p.fw-700.blog-menu-title Автор блога

  +b.author.container-full
    +authors_menu('author__wrap ', author_Menu)

    a.button.button-main(href="/")
      span.title.fw-300.fs-14 Корпоративный блог