mixin b_blog-section()
  section.blog-section.box
    .content.container-full
        .flex
          .flex-row-3-2.flex.box.flex-items-start.flex-width
            .flex-item
              article.article.box
                h2.fs-60.fw-300
                  | Последняя статья из блога
                img(src='./img/blog.jpg')
            .flex-item
              article.article.box
                h3.fw-400.fs-24
                  | Особенности проектирования домов на рельефе
                p.fw-300
                  | Второй дом часто воспринимается людьми как противопоставление городской квартире. Человек стремится компенсировать недостаток природной составляющей. Он выбирается загород, чтобы отдохнуть от суеты и насладиться живописным пейзажем. С этой точке зрения перепад рельефа является богатым ресурсом. Для архитектора это определенные рамки контекста, в которых он проводит морфологические и планировочные изыскания, а так же поле для экспериментов и рассуждений. В этой статье мы рассмотрим принципы, по которым взаимодействуют архитектурная форма и ландшафт. Коснемся отличий планировочной структуры между домами на плоском рельефе и рельефе с уклоном.
                .button-block
                  a.button.button-more.fs-16.fw-300.cl-white.bg-dark(href='/test.html') Читать полностью