mixin b_contacts()
  .bg-dark.contacts
    p.fs-14.fw-300.cl-white Персональная творческая архитектурная мастерская
    p.fs-24.fw-300.cl-white «Архитектурное бюро Шкрогаль»
      .contacts__block.flex
        .flex-row-2.flex.box.flex-items-start
          .flex-item
            span.cl-white.title-font Телефон
            br
            span.cl-white.title-font E-mail
            br
            span.cl-white.title-font Адрес
          .flex-item
            span.cl-white
              a.phone(rel='nofollow', href='tel:+3-044-531-3854') (044)531 38 54,
              a.phone(rel='nofollow', href='tel:+3-044-501-0349') (044)501 03 49
            br
            span.cl-white
              a.mail(rel='nofollow', href='mailto:info@archmaster@gala.net') archmaster@gala.net
            br
            span.cl-white г. Киев, ул. Гринченко, 7