mixin b_contact-form()
  .contact-form
      .es-content.article
        .es-header.fs-24.fw-300
          | Напишите нам
        .es-inner-content
          form#id_esauth_auth_form(onsubmit='return false', novalidate='novalidate')
            .es-row.es-row-mail
              label(for='id_esauth_login_field')
              input#id_esauth_login_field(name='l', type='email', placeholder='Имя')
            .es-row.es-row-password
              label(for='id_esauth_pwd_field')
              input#id_esauth_pwd_field(name='p', type='number', placeholder='Телефон')
            .es-row.es-row-mail
              textarea#et_pb_contact_message_1.et_pb_contact_message.input(name='contact_message') Текст сообщения
            .es-row
              button#id_esauth_login_button.button.input_submit.fs-16.fw-300.cl-white(type='submit') Отправить