mixin b_count-section()
  section.section.count-section.box
    .content.container-full
        .flex
          .flex-row-2.flex.box.flex-items-start.flex-width
            .flex-item.main-bg-img.main-bg-img-3
            .flex-item
              .flex.article.article__padding-bottom_small.article__padding-top_small
                .flex-row-2.flex.box.flex-items-start.flex-width.flex-wrap
                  .flex-item.cont-block
                    p.fs-18.fw-300
                      span.fs-60.fw-300 25.4
                      span &nbsp;га
                    p.fs-18.fw-300.cl-grey
                      | Общая площадь участка
                  .flex-item.cont-block
                    p.fs-18.fw-300
                      span.fs-60.fw-300 425
                    p.fs-18.fw-300.cl-grey
                      | Количество квартир
                  .flex-item.cont-block
                    p.fs-18.fw-300
                      span.fs-60.fw-300 1539
                      span &nbsp;м&sup2;
                    p.fs-18.fw-300.cl-grey
                      | Общая площадь участка
                  .flex-item.cont-block
                    p.fs-18.fw-300
                      span.fs-60.fw-300 9153
                      span &nbsp;м&sup2;
                    p.fs-18.fw-300.cl-grey
                      | Общая площадь квартир