mixin b_footer()
  .main-footer
    footer.footer.bg-dark.flex.box
      .container.flex
        .flex-row-2.flex.box.flex-width.flex-items-stretch
          .flex-item
            nav.nav.flex.flex-end.flex-items-end
              a.nav-item.flex-items.fs-14.cl-white(href='/portfolio.html') Мастерская
              a.nav-item.flex-items.fs-14.cl-white(href='/services.html') Услуги
              a.nav-item.flex-items.fs-14.cl-white(href='/blog.html') Блог
              a.nav-item.flex-items.fs-14.cl-white(href='/contacts.html') Контакты
          .flex-item
            .footer-block the 23::