mixin b_header()
  header.header.flex.box
    .container.header-nav.box.flex.flex-space-between.flex-items-stretch
      nav.nav.flex.flex-start.flex-items-end
        a.nav-item.flex-items.fs-14.cl-brand(href='/portfolio.html') Мастерская
        a.nav-item.flex-items.fs-14.cl-brand(href='/services.html') Услуги
        a.nav-item.flex-items.fs-14.cl-brand(href='/blog.html') Блог
        a.nav-item.flex-items.fs-14.cl-brand(href='/contacts.html') Контакты
    .aside-right.bg-dark.flex
      a.flex.flex-justify-center.flex-items-center.button-header.fs-14.fw-300.cl-white(href='/portfolio.html') Проекты