mixin b_header(menu)
  header.header.box.flex.flex-space-between.flex-items-stretch
    .header-nav.box.flex.flex-space-between.flex-items-stretch

      nav.nav.flex.flex-start.flex-items-center
        each item in menu
           a(href=item.link).nav-item.flex-items.fs-14.cl-brand #{item.name}
           
    .aside-right.bg-dark.flex
      a.flex.flex-justify-center.flex-items-center.button-header.fs-14.fw-300.cl-white(href='/') Проекты