mixin b_history-section()
  section.section.history-section.box
    +b.history.content.container-full
      .flex
        .flex-row-2.flex.box.flex-items-start.flex-width
          .flex-item
            article.article.box.article-pad-bottom
              h2.fs-60.fw-300
                | Мастерская, которая чувствует Киев
              +b.img-history
                +e.IMG.image(src='./img/main_5.jpg')
          .flex-item.main-bg-img.main-bg-img-4
            +e.name.fw-700.flex.flex-items-center
              |  Памятник автору произведений в Белой Цекви
      +e.block.box.bg-white
        .article.article__padding-top_small
          p.fw-300
            | Частное предприятие «Творческая Архитектурная мастерская “В. Шкрогаль”» основано в феврале 1990 года. За время работы реализовано множество интересных проектов. Среди них Свято-Николаевский храм в с. Чайки, жилые дома на Жилянской, Щербакова, Пожарского, административно-жилой комплекс по ул. Туманяна, жилые дома на Подоле (район Воздвиженки).
