mixin b_project-section()
  section.project-section.box
    .content.container-full
        .flex
          .flex-row-2.flex.box.flex-items-start.flex-width
            .flex-item
              article.article.box
                h2.fs-60.fw-300
                  | Дома на Воздвиженке
                p.fw-300
                  | Описание проекта. С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
                p.fw-300
                  | С другой стороны дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
                .button-block
                  a.button.button-more.fs-16.fw-300.cl-white.bg-dark(href='/test.html') Страница проекта
            .flex-item.main-bg-img.main-bg-img-2