mixin b_stat-section()
  section.stat-section.box
    .content.container-full
        .flex
          .flex-row-5-2-5.flex.box.flex-items-start.flex-width
            .flex-item
              article.article.article-pad-top.article-pad-bottom.box
                h2.fs-200.fw-100.stat-title
                  | 1976
                p.fw-300.cl-grey.stat-des
                  | Год основания компании
            .flex-item
              .box
                p.fw-300.stat-box
                  span.fs-72 7
                  span.cl-grey Человек в команде
                p.fw-300.stat-box
                  span.fs-72 47
                  span.cl-grey Объектов построено
                p.fw-300.stat-box
                  span.fs-72 4
                  span.cl-grey Государственные премии
            .flex-item.bg-dark
              .flex.stat-blocks
                .flex-row-2.flex.box.flex-items-start.flex-width.flex-wrap
                  .flex-item.stat-block.ta-center
                    img(src='./img/main-icon-1.svg')
                    p.fw-300.cl-white
                      | Жилая архитектура
                  .flex-item.stat-block.ta-center
                    img(src='./img/main-icon-2.svg')
                    p.fw-300.cl-white
                      | Общественная архитектура
                  .flex-item.stat-block.ta-center
                    img(src='./img/main-icon-3.svg')
                    p.fw-300.cl-white
                      | Культовая архитектура
                  .flex-item.stat-block.ta-center
                    img(src='./img/main-icon-4.svg')
                    p.fw-300.cl-white
                      | Офисы