.footer.flex.box.bg-dark
  .container.flex.flex-row-2.flex.box.flex-start.flex-items-end
    .flex-item
      nav.nav.flex.flex-start.flex-items-end
        a.nav-item.flex-items.fs-14.cl-white(href='/portfolio.html') Мастерская
        a.nav-item.flex-items.fs-14.cl-white(href='/services.html') Услуги
        a.nav-item.flex-items.fs-14.cl-white(href='/blog.html') Блог
        a.nav-item.flex-items.fs-14.cl-white(href='/contacts.html') Контакты
    .flex-item
      .footer-block.flex.flex-row-2.flex.box.flex-start.flex-items-end
        .flex-item
          span.cl-white
            a.phone(rel='nofollow', href='tel:+3-044-531-3854') (044)531 38 54&nbsp;&nbsp;
            a.phone(rel='nofollow', href='tel:+3-044-501-0349') (044)501 03 49
          br
          span.cl-white
            a.mail(rel='nofollow', href='mailto:info@archmaster@gala.net') archmaster@gala.net
          br
          span.cl-white г. Киев, ул. Гринченко, 7
        .flex-item
          span.fs-14.cl-white.footer-link the ::. 23
.totop-link