$brand-color: #1080d0;
$light-color: #fcfcfc;
$line-color: rgba(229, 229, 229, 1);
$link-color: #1080d0;
$link-color_hover: #1080d0;
$action: #1080d0;
$black: #2f2f2f;
$white: #fff;

body {color: #2b3840;}
.cl-brand {color: $black;}
.cl-brand-border {color: #fea702;}
.cl-brand-light {color: #f6bd50;}
.cl-brand-grey {color: #a8a8a8;}
.cl-white {color: $white;}
.color-svg-icon {fill: $white}