.section-top {
  margin: 0 auto;
  height: calc(100vh - 120px);
}
.article {
  padding: $postHeight $headerHeight;
  box-sizing: border-box;
  &.article-pad-bottom {
    padding-bottom: 0;
  }
  &.article-pad-top {
    padding-top: 0;
  }
  &.article-pad-right {
    padding-right: 0;
  }
  &.article__padding-top_small, .stat-block {
    padding-top: $postHeight/2;
  }
  &.article__padding-bottom_small, .stat-block {
    padding-bottom: $postHeight/2;
  }
  &.article__padding-top_post, .img-history {
    padding-top: $postHeight;
  }
  &.article__padding-bottom_post, .img-history {
    padding-bottom: $postHeight;
  }
  &.article-img-block {
    margin: $postHeight/2 0 0 $headerHeight;
    height: 100%;
    padding: 0;
    h2 {
      background-color: $white;
      padding-bottom: $postHeight/2;
      padding-right: $headerHeight;
    }
    img {
      padding-top: $postHeight/2;
    }
  }
}
.stat-des {
  position: relative;
  top: -20px
}
.stat-title {
  line-height: 100%;
}
.stat-box {
  .fs-72 {
    line-height: 100px;
  }
  .cl-grey {
    display: inline-block;
    padding-left: 10px;
  }
}
.blog-img-block {
  height: 100%;
}
.article-blog-post {
  padding: $postHeight/4 $postHeight/2;
  box-sizing: border-box;
}
.article-blog-post-small {
  padding: $postHeight/4 0;
  box-sizing: border-box;
  h2 {
    margin-top: 2rem;
  }
}
.blog-menu {
  .blog-menu-title {
    padding: 12px 16px;
  }
}
.author {
  overflow: hidden;
}
.button.button-author {
  border-color: transparent transparent $line-color transparent;
  float: left;
  &:hover {
    background-color: $black;
    color: $white;
    border-color: $black;
  }
}
.img-blog {
  height: 250px;
  overflow: hidden;
  .img-blog__image {
    background-size: cover;
  }
}
.button-main {
  float: right;
}
.button.button-post {
  border-color: transparent;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  &:hover {
    border-color: transparent;
  }
  &:hover:before {
    background-color: $link-color_hover;
  }
  &:before {
    height: 2px;
    position: absolute;
    content: "";
    background-color: #2f2f2f;
    bottom: 0;
    width: 100%;
    margin: auto;
  }
}
.article-post {
  padding: $postHeight;
  box-sizing: border-box;
}
.history {
  position: relative;
  &__block {
    position: absolute;
    bottom: 0;
    width: 4*$headerHeight;
    left: 50%;
    margin-left: -2*$headerHeight;
  }
  .main-bg-img-4 {
    position: relative;
    height: calc(100% - 120px);
  }
  &__name {
    position: absolute;
    bottom: -$headerHeight;
    left: 2*$headerHeight;
    height: $headerHeight;
    width: 50%;
  }
}
.stat-section {
  .stat-blocks {
    padding-right: $headerHeight;
  }
  .stat-block {
    align-self: center;
    padding-top: $postHeight/2;
    padding-bottom: $postHeight/2;
    img {
      height: 60px;
      margin: auto;
      opacity: .5;
    }
  }
}


/*
  ======================================================================================================= Stats section
*/
.stat-item {
  display: block;
  width: 33%;
  & img {
    border-radius: 100%;
    border: 1px solid #ffffff;
  }
}
.stat-val {
  padding: 25px 0 15px 0;
}

/*
  ======================================================================================================= Steps section
*/
.steps-ol {
  counter-reset: steps-counter;
  margin-bottom: 32px;
}
.steps-ol-item {
  position: relative;
  width: 33%;
  list-style-type: none;
  padding-top: 100px;

  &:before {
    content: counter(steps-counter);
    counter-increment: steps-counter;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -40px;
    font-size: 3em;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid #fea702;
    color: #fea702;
    line-height: 72px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 0 16px #fff;
    z-index: 4;
  }

  .steps-line {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fea702;
      top: 40px;
      left: -50%;
      z-index: 3;
      
    &:after {
      content: '';
      border: 6px solid;
      border-color: transparent transparent transparent #fea702;
      position: absolute;
      width: 0;
      height: 0;
      margin: auto;
      top: -5px;
      right: 50px;
    }
  }

  &:first-child:after {
    content: none;
  }

  &:first-child .steps-line {
    display: none;
  }

  &:first-child .steps-line:after {
    content: none;
  }

  p {
    max-width: 70%;
    display: block;
    margin: 0 auto;
  }

  h3 {
    padding: 0 0 16px 0;
  }
}

/*
  ============================================================================================================== Seo text section
*/

.section-seo {
  h2, h3, h4 {
    padding: 10px 0;
    font-weight:  400;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
  }
  p, ol, ul, li {
    font-size:  1em;
    line-height: 160%;
    font-weight:  300;
  }
  ol, ul {
    list-style: none;
    padding: 0 0 0 16px;
  }
  ol li, ul li {
    list-style-type: disc;
    margin-bottom: 8px;
  }
}

/*
  ============================================================================================================== Footer
*/
.footer {

  .section-container {
    align-items: flex-start;
  }

  .footer-ul {
    a {
      margin-bottom: 10px;
      display: inline-block;
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    line-height: 160%;
    font-size: .875em;
    
    &:hover {
       color: #f79235;
    }
  }
}
.footer-section {
  width: 380px;
  box-sizing: border-box;
  padding-right: 50px;

  h4 {
    border-bottom: 1px solid rgba(255,255,255,.15);
    padding-bottom: 23px;
    margin-bottom: 35px;
  }
}
.footer-first-section, .footer-last-section {
  p {
    color: rgba(255,255,255,.3);
    font-size: .875em;
    line-height: 160%;
    a {
      color: rgba(255,255,255,1);
    }
  }
}
.footer-last-section {
  p {
    &:first-child {
      margin-top: 0 !important;
    }
  }
}
.footer-ul {
  width: 50%;

  li {
    list-style-type: none;
  }
}
.footer-email {
  a {
    color: rgba(255,255,255,1);
  }
  svg {
    margin-right: 20px;
    opacity: .3;
  }
}
.follow-item {
  border-radius: 100%;
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
  text-align: center;
  font-size: 0!important;
  line-height: 0!important;
  letter-spacing: -1px!important;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid rgba(255,255,255,.3);
  }
}
.footer-copyright {
  opacity: .3;
  font-size: .875em;
  margin-bottom: 0;
}
/*
  =========================================================================================================== Form View
*/
.form_view {
  margin-top: 16px;

  dl {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 0;
  }

  dt,
  dd {
    margin: 0;
    box-sizing: border-box;
  }

  dt {
    text-align: right;
    min-width: 100px;
    padding-right: 8px;
  }
  dd {
    width: 100%;

    br {
      display: none;
    }

    label {
      display: none !important;
    }
  }

  input {
    box-sizing: border-box;
    padding: 9px 8px 8px;
    outline: none;
    width: 100%;
    font-size: 1.175em;
    border: 1px solid #d9d9d9;

    &.error {
      border: 1px solid #c4081b;
    }
  }

  label {
    display: block;
    color: #a8a8a8;
  }

  img {
    display: block;
    width: 80px;
    height: 38px;
  }

  table {
    padding: 0 4px;
    box-sizing: border-box;
  }

  .captcha-input-box {
    float: none !important;
    display: flex;
    flex-flow: row wrap;

    span {
      display: none;
    }
  }
}


/*
  ====================================================================================================== Translate form
*/
.order-now .section-container {
  #current_sof_container {
    max-width: 100% !important;
    width: 100%;
  }
}

.translate-form {
  overflow: hidden;

  .first-step-label {
    display: block;
  }

  .form-textarea {
    border: 1px solid #d9d9d9 !important;
  }

  .tab-links-section {

  }

  label {
    color: #2b3840;
  }

  .orderForm-timeContainer {
    border: none !important;
  }

  input,
  select,
  textarea,
  .selectboxit-container .selectboxit-btn {
    background-color: #fff !important;
    border: 1px solid #d9d9d9 !important;

    &.error {
      border-color: #c4081b !important;
      color: #2b3840 !important;
    }
  }

  .error {
    .input_select {
      border-color: #c4081b !important;
      color: #2b3840 !important;
    }
  }

  .form-section {
    .label {
      color: #2b3840;
    }
  }

  .results {
    background-color: transparent;

    &:after {
      background-color: #d9d9d9;
    }

    li {
      color: #2b3840;

      span {
        color: #2b3840;
        font-size: 1em;
      }
    }
  }

  .Zebra_DatePicker_Icon {
    background-color: #fea702;

    &:hover {
      cursor: pointer;
    }
  }

  .total {
    display: flex;
    align-items: center;

    #id_esof_resume_total_price {
      color: #14ad3c;
      margin-right: 4px;
    }

    span {
      font-size: 1em !important;
      color: #2b3840 !important;
    }
  }

  .input_select {
    border: 1px solid #d9d9d9 !important;
  }

  .subbmit-order-form {
    background-color: #14ad3c !important;
  }

  .upload-description {
    color: #2b3840;
  }
}

/*
  ============================================================================================================= Buttons
*/
.button {
  border: 1px solid #d9d9d9;
  padding: 12px 16px;
  color: #2b3840;
  background-color: transparent;
  text-decoration: none;
  &.input-submit {
    display: inline-block;
    border: 1px solid $black;
    color: $white;
    background-color: $black;

    &:hover, &:focus {
      color: $white;
      background: $light-black;
    }
  }
  &:focus {
    outline: none;
    border-color: transparent;
  }
  &:hover {
    cursor: pointer;
    border-color: #d9d9d9;
  }
}
.button-account {
  color: #2b3840;
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }
}
.button-order, .es-primary-button {
  display: inline-block;
  text-decoration: none;
  border-color: transparent;

  &:hover {
    outline: none;
    background-color: #f79235;
    border-color: #feba02;
    color: #3d434e;
  }
}
.button-line {
  position: relative;
  z-index: 1;
  
  &:after {
    content: "";
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    height: 1px;
    margin: auto;
    z-index: 1;
  }
}
.button-block {
  margin: 0 auto;
}
.button-more {
  display: inline-block;
  border: 1px solid $black;
  color: $white;
  background-color: $black;

  &:hover {
    color: $white;
    background:  $light-black;
  }
}
.main-wrapper {overflow: hidden; }
.blog-post, .contact-form {
  position: relative;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    right: 0;
    border-radius: 5*$headerHeight 5*$headerHeight 0 0;
    height: 500px;
    width: 5*$headerHeight;
    margin: auto;
    border: 1px solid;
    border-color: #3a3a3a #3a3a3a transparent #3a3a3a;
    pointer-events: none;
    opacity: .2;
  }
}
.blog-post {
  &:before {
    top: -175px;
  }
}
.contact-form {
  &:before {
    top: -80px !important;
  }
}
.blog-posts, .project-section {
  position: relative;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    border-radius: 5*$headerHeight 5*$headerHeight 0 0;
    width: 5*$headerHeight;
    margin: auto;
    border: 1px solid;
    border-color: #3a3a3a #3a3a3a transparent #3a3a3a;
    pointer-events: none;
    opacity: .2;
  }
}
.blog-posts {
  &:before {
    left: -$headerHeight;
    top: -215px;
    height: 480px;
  }
}
.section-top-text {
  position: relative;
  z-index: 10;
}
.project-section {
  &:before {
    top: 0;
    left: 0;
    height: 875px;
    box-shadow: inset 0 0 0 1px #f3f3f3;
  }
}
.history, .stat-section {
  position: relative;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    border-radius: 4*$headerHeight 4*$headerHeight 0 0;
    width: 4*$headerHeight;
    margin: auto;
    border: 1px solid;
    border-color: #3a3a3a #3a3a3a transparent #3a3a3a;
    pointer-events: none;
    opacity: .2;
    left: $headerHeight;
    height: 875px;
  }
}
.history {
  :before {
    top: 0;
  }
  &:after {
    content: '';
    position: absolute;
    border-radius: 6*$headerHeight 6*$headerHeight 0 0;
    width: 6*$headerHeight;
    margin: auto;
    border: 1px solid;
    border-color: #3a3a3a #3a3a3a transparent #3a3a3a;
    box-shadow: inset 0 0 0 1px #f3f3f3;
    pointer-events: none;
    z-index: 1;
    opacity: .2;
    right: 0;
    height: 1100px;
  }
}
.stat-section {
  &:before {
    top: 290px;
  }
}
.main-wrapper__footer {
  position: relative;
  z-index: 10;
}
.history__block {
  &:before {
    content: '';
    position: absolute;
    border-radius: 4*$headerHeight;
    width: 4*$headerHeight;
    margin: auto;
    border: 1px solid;
    border-color: #3a3a3a transparent transparent transparent;
    pointer-events: none;
    z-index: 1;
    opacity: .2;
    right: 0;
    height: 4*$headerHeight;
    top: 0;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
.bg-header {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border-radius: 6*$headerHeight 6*$headerHeight 0 0;
    width: 6*$headerHeight;
    margin: auto;
    border: 1px solid;
    left: $headerHeight;
    border-color: #3a3a3a #3a3a3a transparent #3a3a3a;
    box-shadow: inset 0 0 0 1px #f3f3f3;
    pointer-events: none;
    opacity: .2;
    top: 0;
    height: 100vh;
  }
}