.lato {@include title-font-family}
.sans {@include brand-font-family}
.title-font {@include title-font-family}
.brand-font {@include brand-font-family}

.fs-14 {font-size: .875em;}
.fs-16 {font-size: 1em;}
.fs-18 {font-size: 1.125em;}
.fs-22 {font-size: 1.375em;}
.fs-24 {font-size: 1.5em;}
.fs-28 {font-size: 1.75em;}
.fs-30 {font-size: 1.875em;}
.fs-32 {font-size: 2em;}
.fs-36 {font-size: 2.25em;}
.fs-42 {font-size: 2.625em;}
.fs-48 {font-size: 3em;}
.fs-60 {font-size: 3.75em;}
.fs-136 {font-size: 8.5em;}

.fw-normal {font-weight: normal;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-700 {font-weight: 700;}
.fw-900 {font-weight: 900;}

.tt-uppercase {text-transform: uppercase;}
.tt-none {text-transform: none;}

.lh-140 {line-height: 140%;}
.lh-160 {line-height: 160%;}
.lh-180 {line-height: 180%;}