-
  author_Menu = [
    {
      "authorSrc": "#Владимир Шкрогаль",
      "authorTitle": "Владимир Шкрогаль"
    },
    {
      "authorSrc": "#Богдан Шкрогаль",
      "authorTitle": "Богдан Шкрогаль"
    },
    {
      "authorSrc": "#Денис Лукъянчук",
      "authorTitle": "Денис Лукъянчук"
    },
    {
      "authorSrc": "#Владимир Панченко",
      "authorTitle": "Владимир Панченко"
    },
    {
      "authorSrc": "#Геннадий Пухно",
      "authorTitle": "Геннадий Пухно"
    }
  ]