-
  menu = [
  {
    "name": "Мастерская",
    "link": "/"
  },
  {
    "name": "Услуги",
    "link": "/services.html"
  },
  {
    "name": "Блог",
    "link": "/blog.html"
  },
  {
    "name": "Контакты",
    "link": "/contacts.html"
  }
  ]