extends ./pug/layouts/root

block header
  +b_header(menu)
block main
  +b_aside-left("Блог")
  .content.container.blog-page
    +b_blog-menu()
    +b_blog-post()

block footer
  include ./pug/includes/main-footer.pug