extends ./pug/layouts/root

block header
  +b_main-header()
block main
  +b_bg-header()
  +b_project-section()
  +b_count-section()
  +b_history-section()
  +b_stat-section()
  +b_blog-section()

  img(src='./img/cl1.png')
block footer
  include ./pug/includes/main-footer.pug
