extends ./pug/layouts/root

block header
  +b_main-header()
block main
  +b_bg-header()
  +b_main-project()
  +b_count-section()
  +b_history-section()

  img(src='./img/cl1.png')
  //img(src=require('./img/cl1.png'))
block footer
  include ./pug/includes/main-footer.pug
