extends ./pug/layouts/root

block header
  +b_header(menu)
block main
  +b_aside-left("Услуги")
  .content.container
    .flex
      .flex-row-2.flex.box.flex-items-start.flex-width
        .flex-item
          +b_contacts()